@model Practice2021.StaffVolunteer

@{
    ViewBag.Title = "Auth";
    Layout = "~/Views/Shared/_Layout_ForMain.cshtml";
}
<p>@Html.ActionLink("Вернуться на главную страницу", "Index", "Home")</p>
<br>
<h1>
    Вход в систему для волонтеров
</h1>


<body>
    <form method="post" action="Auth">
        @Html.LabelFor(m => m.Email, "E-mail")
        @Html.TextBoxFor(m => m.Email)
        <br />
        @Html.LabelFor(m => m.Password, "Пароль")
        @Html.PasswordFor(m => m.Password)
        <br />

        <button type="submit">Войти</button>
        <p></p>
        <p></p>
        <p>Нет учетной записи? @Html.ActionLink("Зарегистрироваться", "Reg", "Volunteer") </p>
    </form>
</body>

